# Object files
*.o

# Executables
*.exe

# Visual studio files
*.csproj.user

# Visual Studio db files
*.laccdb
*.xsc
*.xsd
*.xss
*.suo
main_dbDataSet.Designer.cs

# Debug files
Debug/
Release/
obj/


#Allow files
!SQL_Editor.exe