# Object files
*.o

# Executables
*.exe

# Visual studio files
*.csproj.user
app.config

# Visual Studio db files
*.laccdb
*.xsc
*.xsd
*.xss
main_dbDataSet.Designer.cs

# Debug files
Debug/
Release/
obj/


#Allow files
!SQL_Editor.exe