# Object files
*.o

# Executables
*.exe

# Visual studio files
*.csproj
*.suo
*.sln
*.csproj.user
app.config
*.Designer.cs

# Visual Studio db files
*.laccdb
*.xsc
*.xsd
*.xss

# Debug files
Debug/
Release/
obj/
